.container{
    display: grid;
    grid-gap:5px;
    grid-template-areas:"header header header header ""sidebar main main main" "sidebar photo photo button" "footer footer footer footer";

}
.item{
    background-color: blue;
    color: black;
    text-align: center;
    padding: 20px;
}
.photo{
    grid-area:photo;
}
.button{
    grid-area:button;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area:sidebar;
    background-color:brown;
}
.header{
    grid-area:header;
}
.footer{
    grid-area:footer;
}