.container{
    background-color: brown;
    border: 2px solid black;
    /* border-radius: 5px; */

} 
.center{
    background: blue;
    width: 50%;
    margin: auto;
} 
.center-text{
    text-align: center;
}
.top-left{
    background: pink;
    border: 2px solid black;
    position: absolute;
    width: 200px;
    height: 200px;  
}
.bottom-right{
    background: green;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.fixed-position{
    position: fixed;
    background: orange;
    color: blue;
}
#relative-1{
    background:grey ;
    border: 1px solid black;
    height: 100px;
}
ol{
    width: 400px;
    height: 500px;
    border: 1px solid blue;
    margin-top: 200px;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
    font-stretch: ultra-condensed;
    font-display:inherit ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#relative-2{
    position: relative;
    left: 20px;
    top: 30px;
    background-color: deeppink;
    border: 1px solid rgb(56, 17, 76);
}
