body{
    background-color:slateblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
a{
background-color: white;
font-size: 28px;
border-radius: 10px;
padding: 10px;

}
h1{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
   border: solid 30px red;
   border-radius: 20px;
   width: 100px;
   height: 50px;
} 
h2{
font-size: 18px;

}
img{
    border: solid 5PX black;
    border-radius: 10PX;
    margin:20px;
    
}